<!DOCTYPE html>
<html lang="en">

<head>
    <title>swdocs home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            margin:40px auto;
            max-width:850px;
            line-height:1.4;
            font-size:18px;
            color:#444;
            padding:0 10px;
            background-color: #EEEEEE
        }
        h1, h2, h3 {
            line-height:1.2
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            margin-top: -20px;
        }
    </style>
</head>

<body>

{{ $length := len .SwDocs }} {{ if not (eq $length 0) }}
<section>
    <h2>Search for a SwDoc</h2>
    <form action="/search">
        <label for="swdocsearch">Name (use % for wildcard)</label>
        <input type="search" id="swdocsearch" name="swdocsearch">
        <input type="submit" value="search">
    </form>
    {{end}}
</section>

</br>

{{ $length := len .SwDocs }} {{ if not (eq $length 0) }}
    <h2>SwDocs Activity</h2>
{{else}}
    <h2>No SwDocs found!</h2>
{{end}}


<div class="grid-container">
    <section class="grid-child">
        {{ $length := len .SwDocs }} {{ if not (eq $length 0) }}
        <h3>Last created</h3>
        {{end}}

        {{range .SwDocs}}
        <ul>
            <li><a href="/{{.Name}}">{{.Name}} was created on {{with .Created}}{{.ToString}}{{end}}</a></li>
        </ul>
        {{end}}
    </section>

    <section class="grid-child">
        {{ $length := len .SwDocs }} {{ if not (eq $length 0) }}
        <h3>Last updated</h3>
        {{end}}

        {{range .SwDocs}}
        <ul>
            <li><a href="/{{.Name}}">{{.Name}} was updated on {{with .Updated}}{{.ToString}}{{end}} by {{.User}}</a></li>
        </ul>
        {{end}}
    </section>
</div>

</body>

</html>
