<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>swdocs home</title>
    <style type="text/css">
        body {
            margin:40px auto;
            max-width:650px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px
        }
        h1, h2, h3 {
            line-height:1.2
        }
    </style>
</head>

<body>
<h1>Welcome to SwDocs!</h1>

{{ $length := len .SwDocs }} {{ if eq $length 0 }}
<h2>No Sw docs found!</h2>
{{else}}
<h2>Latest Sw docs created</h2>
{{end}}

{{range .SwDocs}}
<ul>
    <li><a href="/{{.Name}}">{{.Name}} was created on {{with .Created}}{{.ToString}}{{end}} (UTC)</li>
</ul>
{{end}}

</body>

</html>
