<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>swdocs home</title>
</head>

<body>
<h1>Welcome to SwDocs!</h1>

{{ $length := len .SwDocs }} {{ if eq $length 0 }}
<h2>No Sw docs found!</h2>
{{else}}
<h2>Latest Sw docs created</h2>
{{end}}

{{range .SwDocs}}
<ul>
    <li><a href="/{{.Name}}">{{.Name}} was created on {{with .Created}}{{.ToString}}{{end}} (UTC)</li>
</ul>
{{end}}

</body>

</html>