<!DOCTYPE html>
<html lang="en">

<head>
    <title>swdocs search results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            margin:40px auto;
            max-width:650px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
            background-color: #EEEEEE
        }
        h1, h2, h3 {
            line-height:1.2
        }
    </style>
</head>

<body>

<h1>Search SwDocs</h1>

<section>
{{ $length := len .SwDocs }} {{ if eq $length 0 }}
<p>No SwDocs found for your search</p>
{{else}}
<h3>Found SwDocs</h3>
{{end}}

{{range .SwDocs}}
<ul>
    <li><a href="/{{.Name}}">{{.Name}} was last updated on {{with .Updated}}{{.ToString}}{{end}} (UTC)</a></li>
</ul>
{{end}}
</section>

<section>
    <h3>Search for a SwDoc</h3>
    <form action="/search">
        <label for="swdocsearch">Name (use % for wildcard)</label>
        <input type="search" id="swdocsearch" name="swdocsearch">
        <input type="submit" value="search">
    </form>
</section>

</body>

</html>
