<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>swdocs {{.Name}}</title>
</head>

<body>
<h1>{{.Name}}</h1>
<p>{{.Description}}</p>
{{range .Sections}}
<h2>{{.Header}}</h2>
<ul>
{{range .Links}}
<a href="{{.URL}}">{{.Description}}</a>
{{end}}
</ul>
{{end}}


</body>

</html>
